body {
  margin: 0;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.marker-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  color: #73628A;
  background-color: #EAEAEA;
  border-radius: 100px;
  border: 3px solid #73628A;
}
