body {
  margin: 0;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #6b6b76;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  object-fit: contain;
}

.marker-cluster {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #6b6b76;
  background-color: #EAEAEA;
  border-radius: 100px;
  border: 3px solid #67C6B9;
}

.control-panel {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 220px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  padding: 12px 24px;
  margin: 20px;
  outline: none;
}

.control-panel__nested-list {
  padding-left: 20px;
}



.mapboxgl-popup .mapboxgl-popup-content {
  padding: 25px 20px;
}

.control-panel__list {
  padding-left: 0;
}

.control-panel__list li {
  list-style: none; 
}

.control-panel__category {
  margin-bottom: 10px;
}

.control-panel__category ul {
  padding-left: 20px;
}

.card-content h2
.control-panel h2 {
  color: #454555;
}

.card-content h2 {
  margin-bottom: 5px;
}

.card-content h3 {
  margin: 0 0 20px;
  font-size: 13px;
  font-weight: 400;
}

.card-content ul {
  padding-left: 0;
}

.card-content li {
  list-style: none; 
  padding-bottom: 5px;
}

.card-content span {
  font-weight: 700;
}
